extends layout

block content
    nav.navbar.navbar-inverse.navbar-fixed-top
        div.container
            a.navbar-brand SCORE OF STUDENTS
            div.navbar-right
                button.btn.btn-default.navbar-btn Sign Out
                p.navbar-text xqliu
    section.main
        aside.main-menu
            ul.nav.nav-pills.nav-stacked
                li.menu-item
                    a(href='/searchStudent') Search Score
                li.menu-item
                    a(href='/addStudent') Add Scores for Student
        section.main-content
            block main-content